$breakpoints-up: ( medium: 40rem, large: 64rem, xlarge: 87.5rem, );
$breakpoints-down: ( medium: 39.937rem, large: 63.937rem, xlarge: 87.437rem, );

/*
  * use break points for mobile first approach
*/

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints-up, $size);
    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

;

/*
  * use break points for desktop first approach
*/

@mixin breakpoint-down($size) {
    $breakpoint-value: map-get($breakpoints-down, $size);
    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

;