@use '../util/' as *;
html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--veryLightGray);
    ;
}

img {
    display: block;
    width: 100%;
}

ul,
li {
    list-style: none;
}

// style for buttons
.btn {
    font-weight: 700;
    border: none;
    border-radius: rem(20);
    color: var(--white);
    padding: rem(10) rem(30);
    text-transform: capitalize;
    background: linear-gradient(to right, var(--limeGreen), var(--rightCyan));
    opacity: 1;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
        transition: all 100ms ease-out;
    }
}