@use '../util' as *;
.articles {
    width: 80%;
    margin: 0 auto;
    padding: rem(80) 0;
    background-color: var(--veryLightGray);
    @include breakpoint(large) {
        width: 84%;
    }
    @include breakpoint(xlarge) {
        width: 78%;
    }
    h2 {
        font-size: rem(30);
        font-weight: 300;
        color: var(--darkBlue);
    }
}