@use '../util' as *;
.articles {
    width: 80%;
    margin: 0 auto;
    padding: rem(80) 0;
    background-color: var(--veryLightGray);
    @include breakpoint(large) {
        width: 84%;
    }
    @include breakpoint(xlarge) {
        width: 78%;
    }
    h2 {
        font-size: rem(30);
        font-weight: 300;
        color: var(--darkBlue);
    }
    .card-grid {
        display: grid;
        // justify-content: center;
        margin-bottom: 20px;
        @include breakpoint(medium) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: rem(20);
        }
    }
    .card {
        background-color: var(--white);
        border-radius: 5px;
        overflow: hidden;
        &__head {
            background-color: var(--white);
            min-height: rem(200);
            img {
                object-fit: cover;
                display: block;
                width: 100%;
                height: 200px;
            }
        }
        &__body {
            margin: rem(35);
            color: var(--grayishBlue);
            overflow: hidden;
            h4 {
                margin-top: rem(30);
                color: var(--darkBlue);
                font-size: rem(18);
                font-weight: 300;
                @include breakpoint(large) {
                    font-size: rem(15);
                }
            }
            span {
                font-size: rem(12);
                @include breakpoint(large) {
                    font-size: rem(11);
                }
            }
            p {
                font-size: rem(13);
                @include breakpoint(large) {
                    font-size: rem(12);
                }
            }
        }
    }
}